{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Ollie landing page.">
    <meta name="author" content="Devcrud">
    <title>MailEx</title>

    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'accounts/vendors/themify-icons/css/themify-icons.css' %}">
    
    <!-- owl carousel -->
    <link rel="stylesheet" href="{% static 'accounts/vendors/owl-carousel/css/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'accounts/vendors/owl-carousel/css/owl.theme.default.css' %}">

    <!-- Bootstrap + main styles -->
	<link rel="stylesheet" href="{% static 'accounts/css/style.css' %}">

</head>

<!-- MAIN BODY -->
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">
	<!-- NAV BAR -->
	<nav id="scrollspy" class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top affix-top" data-spy="affix" data-offset-top="20">
        <div class="container">
        	<!-- MailEx Logo -->
			<a class="navbar-brand" href='#'>
				<h1>
					<span class="mail-brand">Mail</span>
					<span class="ex-brand">Ex</span>
				</h1>
			</a>
			<!-- End MailEx Logo -->

			<!-- Navbar Toggler -->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
		    <!-- End Navbar Toggler -->

		    <!-- Navigation Links -->
		    <div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="nav navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link home-nav" href="{% url 'home' %}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#help">Help</a>
					</li>

					{% if user.is_authenticated %}
					<li class="nav-item">
						<a class="nav-link" href="{% url 'profile' %}">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'signout' %}">Logout</a>
					</li>
					{% else %}
					<li class="nav-item ml-0 ml-lg-4">
						<a class="nav-link btn btn-primary" href="{% url 'signin' %}">Sign In</a>
					</li>
					<li class="nav-item ml-0 ml-lg-4">
						<a class="nav-link btn btn-primary" href="{% url 'signup' %}">Sign Up</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	{% block content %}
	{% endblock %}
	
	<!-- core  -->
    <script src="{% static 'accounts/vendors/jquery/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'accounts/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

    <!-- bootstrap 3 affix -->
	<script src="{% static 'accounts/vendors/bootstrap/bootstrap.affix.js' %}"></script>
    
    <!-- Owl carousel  -->
    <script src="{% static 'accounts/vendors/owl-carousel/js/owl.carousel.js' %}"></script>

    <!-- Ollie js -->
    <script src="{% static 'accounts/js/ollie.js' %}"></script>

</body>
</html>
