{% extends 'accounts/base.html' %}

{% load widget_tweaks %}
{% load static %}
{% block content %}

<section class="section header" style="color:white">
	<div class="overlay"></div>
	<div class="vh-100 row align-items-center">
			<div class="col-lg-6 col-md-6 col-sm-6 align-self-center">
				{% for email in emails %}
				<div class="row justify-content-center">
					<h5><li onClick="getId()" id="{{forloop.counter}}">{{ email.subject }}</li></h5>
				</div>
				{% endfor %}
			</div>
			<div class="col-lg-4 col-md-5 col-sm-5 align-self-center">
				<div id="email-body">
				</div>
			</div>
		</div>
		<div class="row align-items-center">
			<div class="col align-self-center">
				<div class="pagination justify-content-center">
	            <span class="step-links">
	              {% if emails.has_previous %}
	                  <a href="?page=1">&laquo; first | </a>
	                  <a href="?page={{ emails.previous_page_number }}">previous</a>
	              {% endif %}

	                <span class="current">
	                    Page {{ emails.number }} of {{ emails.paginator.num_pages }}
	                </span>

	              {% if emails.has_next %}
	                  <a href="?page={{ emails.next_page_number }}">next |</a>
	                  <a href="?page={{ emails.paginator.num_pages }}">last &raquo;</a>
	              {% endif %}
	            </span>
	            </div>
	        </div>
		</div>
	</div>
</section>


		<!-- <span style="background-color:red">ORG</span>       
		<span style="background-color:orange">CARDINAL</span>
		<span style="background-color:deeppink">DATE,</span>
		<span style="background-color:green">"EVENT"      </span>
		<span style="background-color:blue">"FAC"        </span>
		<span style="background-color:gold">"GPE"	     </span>
		<span style="background-color:aqua">"LANGUAGE"   </span>
		<span style="background-color:#993333">"LAW"        </span>
		<span style="background-color:#660066">"LOC"	     </span>
		<span style="background-color:magenta">"MONEY"	     </span>
		<span style="background-color:#669999">"NORP"       </span>
		<span style="background-color:navy">"ORDINAL"     </span>
		<span style="background-color:Lime">"PERCENT"     </span>
		<span style="background-color:black">"PERSON"      </span>
		<span style="background-color:#ff80d5">"PRODUCT"     </span>
		<span style="background-color:red">"QUANTITY"    </span>
		<span style="background-color:red">"TIME"        </span>
		<span style="background-color:red">"WORK_OF_ART" </span> -->
	</div>
</div>
<script type="text/javascript">
	
	var labels = {
		"ORG"         : "red",
		"CARDINAL"    : "orange",
		"DATE"        : "deeppink",
		"EVENT"       : "green",
		"FAC"         : "blue",
		"GPE"	      : "gold",
		"LANGUAGE"    : "aqua",
		"LAW"         : "#993333",
		"LOC"	      : "#660066",
		"MONEY"	      : "magenta",
		"NORP"        : "#669999",
		"ORDINAL"     : "navy",
		"PERCENT"     : "Lime",
		"PERSON"      : "black",
		"PRODUCT"     : "#ff80d5",
		"QUANTITY"    : "red",
		"TIME"        : "red",
		"WORK_OF_ART" : "red"
	}

	function getId(){

		var id = this.event.target.id;

		{% for email in emails %}			
			if("{{ email.subject }}" == $("#" + id).html()){
			var html = "";
				var email_body = "{{email.body}}";
				{% for entity in email.entities %}
					var start_index = {{entity.start_pos}};
					var end_index   = {{entity.end_pos}};
					var recognized_entity = email_body.slice(start_index, end_index);
					
					email_body = email_body.replaceAll("{{entity.text}}", "<span style='background-color:"+ labels["{{entity.labels.value}}"] + "'>{{entity.text}}</span>");
				{% endfor %}
			}
			$("#email-body").html(email_body);
		{% endfor %}
	}

</script>
{% endblock %}
